<!doctype html>
<html>
<head>
  <meta charset="utf-8" >
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="applicable-device"content="pc,mobile" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="description" content="个人财富升值|ETF基金投资|把握趋势赢取大势">
  <meta name="keywords" content="战略家|财富升值|安全投资|ETF基金|趋势">
  <title>AI字典 ailabs.net.cn</title>
  <!-- Site CSS -->
  <!-- core CSS -->
  <link href="http://www.zhanluejia.net.cn/corlate/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
   }
   .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
   }
  </style>
</head>
<body>
{% raw %}
<div id="app" class="container">
  <div class="alert alert-primary" role="alert">
    吴恩达老师的 深度学习 逻辑回归代码测试，请测试的时候上传小分辨率的 （<100x100）图片(测试是否是猫)。
  </div>
  <div>点击下面的"<i class="w-e-icon-image"></i>"上传，或者粘贴截图直接上传图片,上传成功后点击"识别"</div>
       <div id="editer1" style="width:300px;height:300px;">
       </div>
       <p style="margin-top:50px;"></p> 
       <a class="btn btn-success" @click="pred">识别</a>


    <figure class="figure" v-for="item in predimgs.slice().reverse()" style="margin:20px;">
      <img v-bind:src="item.imagename" class="figure-img img-fluid rounded" style="width:60px;height:60px;">
      <figcaption class="figure-caption">预测结果：{{item.pred}}</figcaption>
    </figure>

</div>
{% endraw %}
<script src="http://www.zhanluejia.net.cn/wangEditor/wangEditor.min.js"></script>

    <script src="http://www.zhanluejia.net.cn/corlate/js/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.1.0/vue.global.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>

var filename=""
     const VueApp = {
        data() {
            return {
        	    predimgs:[],
	        }
        },
    
        created() {
	    },
	
        mounted () {
            var that = this
            that.load_preds()
        },
        methods: {
            pred(){
                var that = this

                if (filename == ""){
                    alert("请先上传图片")
                    return
                }
                $.ajax({
                          type:"POST",
                          url:"/pred",
                          data:{
                            filename:filename,
                            },
                        success:function(data){
                            console.log(data)
                            if (data.pred == 1){
                                alert("我猜你传的是猫吧")
                            } 
                            if (data.pred == 0){
                                alert("我传的可能不是猫,你还是传小一点的图片试试")
                            }
                            that.load_preds() 
                        }
                      }) //ajax
            },
            load_preds(){
                    var that = this
                     $.ajax({
                          type:"get",
                          url:"/get_all",
                          success:function(data){
                            console.log(data)
                            that.predimgs = data
                        }
                      }) //ajax

            }
        // These methods won't trigger a watcher because we changed only a property of Object/Array,
        // not the Object/Array itself
        }
      }//VueApp
      window.vue = Vue.createApp(VueApp).mount('#app')

const E = window.wangEditor
const editor = new E('#editer1')
editor.customConfig.uploadFileName  = 'image'
editor.customConfig.uploadImgServer = '/uploads'
editor.customConfig.menus = ['image']
editor.create()

editor.config.uploadImgHooks.success=function(e,t,data){
    filename = data.data[0]
    console.log(filename)
}

 


</script>
</body>
</html>
